{% extends 'blog/layout.html' %}
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>my instagram</title>

  {% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  {% endblock %}


</head>


<body>
  {% block content %}

  <!-- 본문 -->
  <div class="content">

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <br>
      <button type="submit" name="button">수정완료</button>
    </form>

  </div>

{% endblock %}
</body>

</html>
